:root{
    --primary: #af1e2d;
    --light: #F3F3F3;
    --grey: #8A8A8B;
    --dark: #212121;
}
.transition-1{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--dark);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s ease-out;
}

.transition-1.is-active{
    opacity: 1;
    pointer-events: all;
}

.transition-2{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: var(--dark);
    transition: 0.5s ease-out;
}

.transition-2.is-active{
left: 0px;
}

.transition-3{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 101;
    background-color: var(--dark);
    transition: 0.5s ease-out;
}

.transition-3.is-active{
top: 0;
}